
body {
	padding-top: 40px; 
	background-color: #E5DFDF;
}


@media screen and (max-width: 768px) {
    body { padding-top: 40px; }
}

main {
	margin-top : 20px;
}

footer, #navbar {
	background-color : #E5DFDF;
}

#footerText{
	padding-top : 5px;
	
}

/*.golden{
	color : #DBBD60;
} */